<section class="footer">
	<div class="contact">
		<div class="row">
			<div class="medium-8 columns">
				Ready to make that website great?
			</div>
			<div class="medium-4 columns">
				Get Started
			</div>
		</div>
	</div>
	<div class="closing">
		<div class="row">
			<div class="medium-4 columns">
				Something Here
			</div>
			<div class="medium-4 columns center">
				Thank you message!
			</div>
			<div class="medium-4 columns">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</section>	