<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <span>Justin</span>Battenfield
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Me", :controller => "pages", :action => "about" %></li>
        <li><%= link_to "Projects", posts_path %></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>