<section class="menu">
  <div class="row">
    <div class="medium-4 small-12 columns logo">
     Justin Battenfield
    </div>
    <div class="medium-8 small-12 columns">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Me", about_path %></li>
        <li><%= link_to "Projects", posts_path %></li>
        <li><%= link_to "Contact", contact_us_path %></li>
      </ul>
    </div>
  </div>
</section>