<section class="hero">
	The part where I talk about myself.<br />
	<strong>This is awkward.</strong>
</section>

<div class="row content profile">
	<div class="medium-4 columns">
		<img src="https://scontent-dft4-1.xx.fbcdn.net/t31.0-8/12314342_10156297615900721_8418632608565390669_o.jpg" alt="" />
	</div>
	<div class="medium-7 medium-offset-1 columns">
		<h1>Hey there!</h1>
		I'm a designer &amp; developer located in Edmond, Oklahoma. Currently working for Life.Church and <strong>accepting freelance clients</strong>. Want to grab a cup of coffee and discuss your future project? Talk soon.
	</div>
</div>