<section class="hero">
	<div class="row">
		<div class="medium-8 columns medium-offset-2">
			Ready to make your website great again?<br />
			<strong>Let's get to work.</strong>
		</div>
	</div>
</section>

<div class="row content">
	<div class="medium-6 columns">
	Stuff Here
	</div>
	<div class="medium-6 columns">
	Stuff Here
	</div>
</div>