<section class="hero">
	<div class="row">
		<div class="medium-8 medium-offset-2 columns">
		<strong>Go ahead.</strong> Check out the recent work!
		</div>
	</div>
</section>

<div class="row content">
	<% @posts.each do |post| %>
	<div class="medium-4 columns">
		<%= link_to post_path(post) do %>
			<%= image_tag post.image, class: '' %>
			<%= post.title %>
		<% end %>
	</div>
	<% end %>
</div>	