<section class="hero">
	<div class="row">
		<div class="medium-8 medium-offset-2 columns">
			<%= @post.title %>
		</div>
	</div>
</section>

<div class="row content">
	<div class="medium-7 small-12 columns">
		<%= image_tag @post.image, class: 'portfolio' %>
	</div>

	<div class="medium-4 medium-offset-1 small-12 columns">
		<h3>About the Project</h3>
		<%= @post.body %>
	</div>
</div>