 @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');
 @import "base/base";
 @import "partials/partials";
 @import "hero.scss";
 @import 'content.scss';

 body {
 	font-family: 'Roboto Slab', serif !important;
 }

 h1, h2, h3 {
 	font-weight: bold;
 	text-transform: capitalize;
 	color: $slate;
 	font-family: 'Roboto Slab', serif !important;
 }
